<h1>Editing unit type</h1>

<%= render "form", unit_type: @unit_type %>

<br>

<div>
  <%= link_to "Show this unit type", @unit_type %> |
  <%= link_to "Back to unit types", unit_types_path %>
</div>
